@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
}
.active {
  background-color: rgb(228, 225, 225);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #headerNavs,
  #headerSeach {
    display: none !important;
  }
  #NavBar {
    height: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #headerNavs,
  #headerSeach {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #headerNavs,
  #headerSeach {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
